* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
input[type="text"], input[type="tel"], input[type="email"], input[type="number"] {
    margin-right: 100px;
    width: 190px;
    height: 25px;
    border-radius: 3px;
}

button:hover {
    background-color: white;
    color: rgb(14, 14, 241);
    border: 2px solid rgb(0, 21, 255);
    transition: 1s ease-in-out;   
}

label[for="male"], input[for="female"], label[for="other"] {
    font-size: 14px;
}
